.search-input {
    height: 25px;
}

.search{
    top: 3.1%;
    left: 86%;
}

.products-container{
    margin-left: 55px;
}

.title-products{
    width: auto;    
    margin-top: 30px;
}

.title-products p{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 15px;
    color: #000;
}

body.dark .title-products p{
    color: #ffff;
}

.products-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    margin: 5px;
    gap: 7px;
    width: 125px;
    height: 30px;
    background-color: #2A7AE4;
    font-family: Raleway;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    border-radius: 2px;
    border: none;
}

.products{
    margin-top: 70px;
    margin-bottom: 220px;
    display: flex;
    justify-content: center;
}



